
<!-- saved from url=(0107)https://raw.github.com/braincrafted/bootstrap-bundle/develop/Resources/views/Form/form_div_layout.html.twig -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head><body><pre style="word-wrap: break-word; white-space: pre-wrap;">{% use "form_div_layout.html.twig" %}

{# Widgets #}

{% block form_widget %}
{% spaceless %}
    {% if compound %}
        {{ block('form_widget_compound') }}
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% endspaceless %}
{% endblock form_widget %}

{% block form_widget_simple %}
{% spaceless %}
    {% set style = style|default(bootstrap_get_style()) %}

    {% if attr.simple_col is defined and attr.simple_col is not empty %}
        {% set simple_col = attr.simple_col %}
    {% endif  %}

    {% if simple_col is defined %}
        &lt;div class="col-lg-{{ simple_col }}"&gt;
    {% endif %}

    {% set type = type|default('text') %}
    {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' form-control')|trim }) %}

    {% if style == 'inline' and (attr.placeholder is not defined or attr.placeholder is empty) %}
        {% if label is empty %}
            {% set attr = attr|merge({ 'placeholder': name|humanize }) %}
        {% else %}
            {% set attr = attr|merge({ 'placeholder': label}) %}
        {% endif %}
    {% endif %}

    &lt;input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}&gt;

    {% if simple_col is defined %}
        &lt;/div&gt;
    {% endif %}
{% endspaceless %}
{% endblock form_widget_simple %}

{% block form_widget_compound %}
{% spaceless %}
    &lt;div {{ block('widget_container_attributes') }}&gt;
        {% if form.parent is empty %}
            {{ block('global_form_errors') }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    &lt;/div&gt;
{% endspaceless %}
{% endblock form_widget_compound %}

{% block collection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
    {% endif %}
    {{ block('form_widget') }}
{% endspaceless %}
{% endblock collection_widget %}

{% block bootstrap_collection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set prototype_vars = {} %}
        {% if style is defined %}
            {% set prototype_vars = prototype_vars|merge({'style': style}) %}
        {% endif %}
        {% set prototype_html = '&lt;div class="col-xs-' ~ form.vars.sub_widget_col ~ '"&gt;' ~ form_widget(prototype, prototype_vars) ~ '&lt;/div&gt;' %}
        {% if form.vars.allow_delete %}
            {% set prototype_html = prototype_html ~ '&lt;div class="col-xs-' ~ form.vars.button_col ~ '"&gt;&lt;a href="#" class="btn btn-danger btn-small" data-removefield="collection" data-field="__id__"&gt;' ~ form.vars.delete_button_text ~ '&lt;/a&gt;&lt;/div&gt;' %}
        {% endif %}
        {% set prototype_html = '&lt;div class="row"&gt;' ~ prototype_html ~ '&lt;/div&gt;' %}

        {% set attr = attr|merge({'data-prototype': prototype_html }) %}
    {% endif %}
    &lt;div {{ block('widget_container_attributes') }}&gt;
        &lt;ul class="bc-collection list-unstyled"&gt;
            {% for field in form %}
                &lt;li&gt;
                    &lt;div class="row"&gt;
                        &lt;div class="col-xs-{{ form.vars.sub_widget_col }}"&gt;
                            {{ form_widget(field) }}
                            {{ form_errors(field) }}
                        &lt;/div&gt;
                        {% if form.vars.allow_delete %}
                            &lt;div class="col-xs-{{ form.vars.button_col }}"&gt;
                                &lt;a href="#" class="btn btn-danger btn-small" data-removefield="collection" data-field="{{ field.vars.id }}"&gt;{{ form.vars.delete_button_text }}&lt;/a&gt;
                            &lt;/div&gt;
                        {% endif %}
                    &lt;/div&gt;
                &lt;/li&gt;
            {% endfor %}
        &lt;/ul&gt;
        {% if form.vars.allow_add %}
            &lt;a href="#" class="btn btn-primary btn-small" data-addfield="collection" data-collection="{{ form.vars.id }}"&gt;{{ form.vars.add_button_text }}&lt;/a&gt;
        {% endif %}
    &lt;/div&gt;
{% endspaceless %}
{% endblock bootstrap_collection_widget %}

{% block textarea_widget %}
{% spaceless %}
    {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' form-control')|trim }) %}

    &lt;textarea {{ block('widget_attributes') }}&gt;{{ value }}&lt;/textarea&gt;
{% endspaceless %}
{% endblock textarea_widget %}

{% block file_widget %}
{% spaceless %}
    {% if attr.simple_col is defined and attr.simple_col is not empty %}
        {% set simple_col = attr.simple_col %}
    {% endif  %}

    {% if simple_col is defined %}
        &lt;div class="col-lg-{{ simple_col }}"&gt;
    {% endif %}

    &lt;input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}&gt;

    {% if simple_col is defined %}
        &lt;/div&gt;
    {% endif %}
{% endspaceless %}
{% endblock file_widget %}

{% block choice_widget %}
{% spaceless %}
    {% if expanded %}
        {{ block('choice_widget_expanded') }}
    {% else %}
        {{ block('choice_widget_collapsed') }}
    {% endif %}
{% endspaceless %}
{% endblock choice_widget %}

{% block choice_widget_expanded %}
{% spaceless %}
    &lt;div {{ block('widget_container_attributes') }}&gt;
    {% for child in form %}
        {% if form.multiple is defined %}
            {{ checkbox_row(child) }}
        {% else %}
            {{ radio_row(child) }}
        {% endif %}
    {% endfor %}
    &lt;/div&gt;
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block choice_widget_collapsed %}
{% spaceless %}
    {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' form-control')|trim }) %}

    &lt;select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}&gt;
        {% if empty_value is not none %}
            &lt;option {% if required %} disabled="disabled"{% if value is empty %} selected="selected"{% endif %}{% else %} value=""{% endif %}&gt;{{ empty_value|trans({}, translation_domain) }}&lt;/option&gt;
        {% endif %}
        {% if preferred_choices|length &gt; 0 %}
            {% set options = preferred_choices %}
            {{ block('choice_widget_options') }}
            {% if choices|length &gt; 0 and separator is not none %}
                &lt;option disabled="disabled"&gt;{{ separator }}&lt;/option&gt;
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('choice_widget_options') }}
    &lt;/select&gt;
{% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block choice_widget_options %}
{% spaceless %}
    {% for group_label, choice in options %}
        {% if choice is iterable %}
            &lt;optgroup label="{{ group_label|trans({}, translation_domain) }}"&gt;
                {% set options = choice %}
                {{ block('choice_widget_options') }}
            &lt;/optgroup&gt;
        {% else %}
            &lt;option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}&gt;{{ choice.label|trans({}, translation_domain) }}&lt;/option&gt;
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock choice_widget_options %}

{% block checkbox_row %}
{% spaceless %}
    {% set style = style|default(bootstrap_get_style()) %}

    {% if attr.label_col is defined and attr.label_col is not empty %}
        {% set label_col = attr.label_col %}
    {% endif %}
    {% if attr.widget_col is defined and attr.widget_col is not empty %}
        {% set widget_col = attr.widget_col %}
    {% endif %}

    {% set class = '' %}
    {% if align_with_widget is defined or attr.align_with_widget is defined %}
        {% set widget_col = widget_col|default(10) %}
        {% set label_col = label_col|default(2) %}
        {% set class = ' col-lg-' ~ widget_col ~ ' col-lg-offset-' ~ label_col %}
        &lt;div class="form-group row{% if not form.vars.valid %} has-error{% endif %}"&gt;
            &lt;div class="{{ class }}"&gt;
    {% else %}
        &lt;div class="form-group{% if not form.vars.valid %} has-error{% endif %}"&gt;
    {% endif %}
        &lt;div class="checkbox"&gt;
            {% if label is not sameas(false) %}
                {% if not compound %}
                    {% set label_attr = label_attr|merge({'for': id}) %}
                {% endif %}
                {% if required %}
                    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                {% endif %}
                {% if label is empty %}
                    {% set label = name|humanize %}
                {% endif %}
                &lt;label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}&gt;
                    {{ block('checkbox_widget') }}
                    {{ label|trans({}, translation_domain) }}
                &lt;/label&gt;
            {% else %}
                {{ block('checkbox_widget') }}
            {% endif %}
            {{ form_errors(form) }}
        &lt;/div&gt;
        {% if align_with_widget is defined or attr.align_with_widget is defined %}
            &lt;/div&gt;
        {% endif %}
    &lt;/div&gt;

    {% if style == 'inline' %}&amp;nbsp;{% endif %}
{% endspaceless %}
{% endblock checkbox_row %}

{% block radio_row %}
{% spaceless %}
    {% set class = '' %}

    {% if attr.label_col is defined and attr.label_col is not empty %}
        {% set label_col = attr.label_col %}
    {% endif %}
    {% if attr.widget_col is defined and attr.widget_col is not empty %}
        {% set widget_col = attr.widget_col %}
    {% endif %}

    {% if align_with_widget is defined or attr.align_with_widget is defined %}
        {% set widget_col = widget_col|default(10) %}
        {% set label_col = label_col|default(2) %}
        {% set class = ' col-lg-' ~ widget_col ~ ' col-offset-' ~ label_col %}
        &lt;div class="form-group row{% if not form.vars.valid %} has-error{% endif %}"&gt;
            &lt;div class="{{ class }}"&gt;
    {% else %}
        &lt;div class="form-group{% if not form.vars.valid %} has-error{% endif %}"&gt;
    {% endif %}

        &lt;div class="radio"&gt;
            {% if label is not sameas(false) %}
                {% if not compound %}
                    {% set label_attr = label_attr|merge({'for': id}) %}
                {% endif %}
                {% if required %}
                    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                {% endif %}
                {% if label is empty %}
                    {% set label = name|humanize %}
                {% endif %}
                &lt;label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}&gt;
                    {{ block('radio_widget') }}
                    {{ label|trans({}, translation_domain) }}
                &lt;/label&gt;
            {% else %}
                {{ block('radio_widget') }}
            {% endif %}
            {{ form_errors(form) }}
        &lt;/div&gt;
    {% if align_with_widget is defined or attr.align_with_widget is defined %}
        &lt;/div&gt;
    {% endif %}
    &lt;/div&gt;
{% endspaceless %}
{% endblock radio_row %}

{% block checkbox_widget %}
{% spaceless %}
    &lt;input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} /&gt;
{% endspaceless %}
{% endblock checkbox_widget %}

{% block radio_widget %}
{% spaceless %}
    &lt;input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} /&gt;
{% endspaceless %}
{% endblock radio_widget %}

{% block datetime_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% set attr = attr|merge({ 'class': 'bootstrap-datetime' }) %}
        &lt;div {{ block('widget_container_attributes') }}&gt;
            {{ form_widget(form.date) }}
            {{ form_widget(form.time) }}
            {{ form_errors(form.date) }}
            {{ form_errors(form.time) }}
        &lt;/div&gt;
    {% endif %}
{% endspaceless %}
{% endblock datetime_widget %}

{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% set attr = attr|merge({ 'class': 'bootstrap-date' }) %}
        &lt;div {{ block('widget_container_attributes') }}&gt;
            {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw }}
        &lt;/div&gt;
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} %}
        {% set attr = attr|merge({ 'class': 'bootstrap-time' }) %}
        &lt;div {{ block('widget_container_attributes') }}&gt;
            {{ form_widget(form.hour, vars) }}
            {% if with_minutes %}:{{ form_widget(form.minute, vars) }}{% endif %}
            {% if with_seconds %}:{{ form_widget(form.second, vars) }}{% endif %}
        &lt;/div&gt;
    {% endif %}
{% endspaceless %}
{% endblock time_widget %}

{% block number_widget %}
{% spaceless %}
    {# type="number" doesn't work with floats #}
    {% set type = type|default('text') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock number_widget %}

{% block integer_widget %}
{% spaceless %}
    {% set type = type|default('number') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock integer_widget %}

{% block money_widget %}
{% spaceless %}
    &lt;div class="input-group"&gt;
        {{ money_pattern|replace({
            '{{ widget }}': block('form_widget_simple'),
            '{{ tag_start }}': '&lt;span class="input-group-addon"&gt;',
            '{{ tag_end }}': '&lt;/span&gt;'
        })|raw }}
    &lt;/div&gt;
{% endspaceless %}
{% endblock money_widget %}

{% block url_widget %}
{% spaceless %}
    {% set type = type|default('url') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock url_widget %}

{% block search_widget %}
{% spaceless %}
    {% set type = type|default('search') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock search_widget %}

{% block percent_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    &lt;div class="input-group"&gt;
        {{ block('form_widget_simple') }}
        &lt;span class="input-group-addon"&gt;%&lt;/span&gt;
    &lt;/div&gt;
{% endspaceless %}
{% endblock percent_widget %}

{% block password_widget %}
{% spaceless %}
    {% set type = type|default('password') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock password_widget %}

{% block hidden_widget %}
{% spaceless %}
    {% set type = type|default('hidden') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock hidden_widget %}

{% block email_widget %}
{% spaceless %}
    {% set type = type|default('email') %}
    {{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock email_widget %}

{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    {% if type is defined and type == 'submit' %}
        {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' btn btn-primary')|trim }) %}
    {% else %}
        {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' btn btn-default')|trim }) %}
    {% endif %}
    &lt;button type="{{ type|default('button') }}" {{ block('button_attributes') }}&gt;{{ label|trans({}, translation_domain) }}&lt;/button&gt;
{% endspaceless %}
{% endblock button_widget %}

{% block submit_widget %}
{% spaceless %}
    {% set type = type|default('submit') %}
    {{ block('button_widget') }}
{% endspaceless %}
{% endblock submit_widget %}

{% block reset_widget %}
{% spaceless %}
    {% set type = type|default('reset') %}
    {{ block('button_widget') }}
{% endspaceless %}
{% endblock reset_widget %}

{# Labels #}

{% block form_label %}
{% spaceless %}
    {% if attr.label_col is defined and attr.label_col is not empty %}
        {% set label_col = attr.label_col %}
    {% endif %}
    {% if attr.widget_col is defined and attr.widget_col is not empty %}
        {% set widget_col = attr.widget_col %}
    {% endif %}

    {% if label is not sameas(false) %}
        {% set style = style|default(bootstrap_get_style()) %}
        {% set label_col = label_col|default(2) %}

        {% set label_attr = label_attr|merge({ 'class': (label_attr.class|default('') ~ ' control-label')|trim }) %}
        {% if style == 'horizontal' %}
            {% set label_attr = label_attr|merge({ 'class': (label_attr.class|default('') ~ ' col-lg-' ~ label_col)|trim }) %}
        {% elseif style == 'inline' %}
            {% set label_attr = label_attr|merge({ 'class': (label_attr.class|default('') ~ ' sr-only')|trim }) %}
        {% endif %}

        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        &lt;label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}&gt;{{ label|trans({}, translation_domain) }}&lt;/label&gt;
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{% block button_label %}{% endblock %}

{# Rows #}

{% block repeated_row %}
{% spaceless %}
    {#
    No need to render the errors here, as all errors are mapped
    to the first child (see RepeatedTypeValidatorExtension).
    #}
    {{ block('form_rows') }}
{% endspaceless %}
{% endblock repeated_row %}

{% block form_row %}
{% spaceless %}
    {% set style = style|default(bootstrap_get_style()) %}

    {% if attr.label_col is defined and attr.label_col is not empty %}
        {% set label_col = attr.label_col %}
    {% endif %}
    {% if attr.widget_col is defined and attr.widget_col is not empty %}
        {% set widget_col = attr.widget_col %}
    {% endif %}

    {% set label_col = label_col|default(2) %}
    {% set widget_col = widget_col|default(10) %}

    {% set row_class = '' %}
    {% if style == 'horizontal' %}
        {% set row_class = ' row' %}
    {% endif %}

    &lt;div class="form-group{{ row_class }}{% if not form.vars.valid %} has-error{% endif %}"&gt;
        {% if style == 'horizontal' %}
            {{ form_label(form) }}
            &lt;div class="col-lg-{{ widget_col }}"&gt;
                {{ block('form_input_group') }}
                {{ block('form_help') }}
                {{ form_errors(form) }}
            &lt;/div&gt;
        {% else %}
            {{ form_label(form) }}
            {{ block('form_input_group') }}
            {{ block('form_help') }}
            {{ form_errors(form) }}
        {% endif %}
    &lt;/div&gt;

    {% if style == 'inline' %}&amp;nbsp;{% endif %}
{% endspaceless %}
{% endblock form_row %}

{% block form_input_group %}
{% spaceless %}
    {% if attr.input_group is defined and attr.input_group is not empty %}
        {% set input_group = attr.input_group %}
    {% endif %}
    {% set input_group = input_group|default({}) %}
    {% if input_group is not empty %}
        {% set ig_size_class = '' %}
        {% if input_group.size is defined and input_group.size == 'large' %}
            {% set ig_size_class = ' input-group-lg' %}
        {% endif  %}
        {% if input_group.size is defined and input_group.size == 'small' %}
            {% set ig_size_class = ' input-group-sm' %}
        {% endif  %}
        &lt;div class="input-group{{ ig_size_class }}"&gt;
            {% if input_group.prepend is defined and input_group.prepend is not empty %}
                &lt;span class="input-group-addon"&gt;{{ input_group.prepend }}&lt;/span&gt;
            {% endif %}
            {{ form_widget(form) }}
            {% if input_group.append is defined and input_group.append is not empty %}
                &lt;span class="input-group-addon"&gt;{{ input_group.append }}&lt;/span&gt;
            {% endif %}
        &lt;/div&gt;
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endspaceless %}
{% endblock form_input_group %}

{% block form_help %}
{% spaceless %}
    {% if attr.help_text is defined and attr.help_text is not empty %}
        {% set help_text = attr.help_text %}
    {% endif %}
    {% set help_text = help_text|default('') %}
    {% if help_text is not empty %}
        &lt;span class="help-block"&gt;{{ help_text }}&lt;/span&gt;
    {% endif %}
{% endspaceless %}
{% endblock form_help %}

{% block button_row %}
{% spaceless %}
    {% set style = style|default(bootstrap_get_style()) %}

    {% if attr.label_col is defined and attr.label_col is not empty %}
        {% set label_col = attr.label_col %}
    {% endif %}
    {% if attr.widget_col is defined and attr.widget_col is not empty %}
        {% set widget_col = attr.widget_col %}
    {% endif %}

    {% set label_col = label_col|default(2) %}
    {% set widget_col = widget_col|default(10) %}

    {% if style == 'horizontal' %}
    &lt;div class="form-group"&gt;
        &lt;div class="col-lg-offset-{{ label_col }} col-lg-{{ widget_col }}"&gt;
    {% endif %}

    {{ form_widget(form) }}

    {% if style == 'horizontal' %}
        &lt;/div&gt;
    &lt;/div&gt;
    {% endif %}
{% endspaceless %}
{% endblock button_row %}

{% block hidden_row %}
    {{ form_widget(form) }}
{% endblock hidden_row %}

{# Misc #}

{% block form %}
{% spaceless %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endspaceless %}
{% endblock form %}

{% block form_start %}
{% spaceless %}
    {% set method = method|upper %}
    {% if method in ["GET", "POST"] %}
        {% set form_method = method %}
    {% else %}
        {% set form_method = "POST" %}
    {% endif %}

    {% if style is defined %}
        {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' form-' ~ style)|trim }) %}
        {{ bootstrap_set_style(style) }}
    {% endif %}

    {% if attr.role is not defined or attr.role is empty %}
        {% set attr = attr|merge({ 'role': 'form' }) %}
    {% endif %}

    &lt;form method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}&gt;
    {% if form_method != method %}
        &lt;input type="hidden" name="_method" value="{{ method }}" /&gt;
    {% endif %}
{% endspaceless %}
{% endblock form_start %}

{% block form_end %}
{% spaceless %}
    {% if not render_rest is defined or render_rest %}
        {{ form_rest(form) }}
    {% endif %}
    &lt;/form&gt;
    {% if bootstrap_get_style() %}
        {{ bootstrap_set_style('') }}
    {% endif %}
{% endspaceless %}
{% endblock form_end %}

{% block form_enctype %}
{% spaceless %}
    {% if multipart %}enctype="multipart/form-data"{% endif %}
{% endspaceless %}
{% endblock form_enctype %}

{% block global_form_errors %}
    {% set style = style|default(bootstrap_get_style()) %}
    {% if errors|length &gt; 0 %}
        {% set global_errors = true %}
        {% if style == 'horizontal' or style == 'basic' or style == 'inline' %}
            &lt;div class="alert alert-danger"&gt;
                {{ block('form_errors') }}
            &lt;/div&gt;
        {% else %}
            {{ block('form_errors') }}
        {% endif %}
    {% endif %}
{% endblock global_form_errors %}

{% block form_errors %}
{% spaceless %}
    {% set global_errors = global_errors|default(false) %}
    {% if errors|length &gt; 0 %}
        &lt;ul{% if not global_errors %} class="help-block"{% endif %}&gt;
            {% for error in errors %}
                &lt;li&gt;{{ error.message }}&lt;/li&gt;
            {% endfor %}
        &lt;/ul&gt;
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block form_rest %}
{% spaceless %}
    {% for child in form %}
        {% if not child.rendered %}
            {{ form_row(child) }}
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock form_rest %}

{# Support #}

{% block form_rows %}
{% spaceless %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endspaceless %}
{% endblock form_rows %}

{% block widget_attributes %}
{% spaceless %}
    id="{{ id }}" name="{{ full_name }}"{% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
    {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% elseif attrname in ['input_group'] %}{% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
{% endspaceless %}
{% endblock widget_attributes %}

{% block widget_container_attributes %}
{% spaceless %}
    {% if id is not empty %}id="{{ id }}" {% endif %}
    {% for attrname, attrvalue in attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
{% endspaceless %}
{% endblock widget_container_attributes %}

{% block button_attributes %}
{% spaceless %}
    id="{{ id }}" name="{{ full_name }}"{% if disabled %} disabled="disabled"{% endif %}
    {% for attrname, attrvalue in attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
{% endspaceless %}
{% endblock button_attributes %}
</pre></body></html>